# --- Środowisko i Tajne Dane (NAJWAŻNIEJSZE) ---
.env
*.env
auth.json

# --- Kompilaty i pliki wykonywalne Go ---
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main          # <--- DOPISZ TO TUTAJ. Ignoruje czystą binarkę Linuxową, kod w main.go zostaje bezpieczny!
app           # (Opcjonalnie, jeśli budujesz binarkę komendą: go build -o app)

# --- Narzędzia deweloperskie / IDE ---
.vscode/
*.code-workspace
.history/
.idea/

# --- Systemowe ---
.DS_Store
Thumbs.db

# --- Logi ---
*.log